USE [master]
GO
/****** Object:  Database [Viesonet]    Script Date: 6/16/2023 11:04:38 PM ******/
CREATE DATABASE [Viesonet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Viesonet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Viesonet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Viesonet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Viesonet_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Viesonet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Viesonet]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[maBaiViet] [int] IDENTITY(1,1) NOT NULL,
	[sdt] [nvarchar](12) NULL,
	[ngayDang] [datetime] NULL,
	[moTa] [nvarchar](max) NULL,
	[hinhAnh] [nvarchar](100) NULL,
	[luotBinhLuan] [int] NULL,
	[luotThich] [int] NULL,
	[maCheDo] [int] NULL,
	[trangThai] [bit] NULL,
 CONSTRAINT [PK__BaiViet__51CC343A5EAE8013] PRIMARY KEY CLUSTERED 
(
	[maBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiVietViPham]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiVietViPham](
	[maToCao] [int] IDENTITY(1,1) NOT NULL,
	[sdt] [nvarchar](12) NULL,
	[maBaiViet] [int] NULL,
	[maLoai] [int] NULL,
	[trangThai] [bit] NULL,
	[ngayToCao] [datetime] NULL,
 CONSTRAINT [PK__BaiVietV__72218031F10FAC84] PRIMARY KEY CLUSTERED 
(
	[maToCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banBe]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banBe](
	[maBanBe] [int] IDENTITY(1,1) NOT NULL,
	[sdt] [nvarchar](12) NULL,
	[sdtBb] [nvarchar](12) NULL,
	[ngayKb] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[maBanBe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheDo]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheDo](
	[maCheDo] [int] IDENTITY(1,1) NOT NULL,
	[tenCheDo] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[maCheDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachBinhLuan]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachBinhLuan](
	[maBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[sdt] [nvarchar](12) NULL,
	[chiTiet] [nvarchar](max) NULL,
	[maBaiViet] [int] NULL,
	[ngayBinhLuan] [datetime] NULL,
 CONSTRAINT [PK__DanhSach__CF056B66F1DCFF02] PRIMARY KEY CLUSTERED 
(
	[maBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachKetBan]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachKetBan](
	[maLoiMoi] [int] IDENTITY(1,1) NOT NULL,
	[sdt] [nvarchar](12) NULL,
	[sdtNguoiLa] [nvarchar](12) NULL,
	[ngayGui] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoiMoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachYeuThich]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachYeuThich](
	[maYeuThich] [int] IDENTITY(1,1) NOT NULL,
	[sdt] [nvarchar](12) NULL,
	[maBaiViet] [int] NULL,
	[ngayYeuThich] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[maYeuThich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiViPham]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiViPham](
	[maLoai] [int] IDENTITY(1,1) NOT NULL,
	[chiTiet] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoiDung]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoiDung](
	[sdt] [nvarchar](12) NOT NULL,
	[hoTen] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[matKhau] [nvarchar](16) NULL,
	[diaChi] [nvarchar](100) NULL,
	[moiQuanHe] [nvarchar](40) NULL,
	[gioiThieu] [nvarchar](100) NULL,
	[gioiTinh] [bit] NULL,
	[anhDaiDien] [nvarchar](100) NULL,
	[anhBia] [nvarchar](100) NULL,
	[ngaySinh] [date] NULL,
	[ngayTao] [date] NULL,
	[maVaiTro] [int] NULL,
	[luotViPham] [int] NULL,
	[trangThai] [bit] NULL,
	[thoiGianTruyCap] [datetime] NULL,
	[soLuongBanBe] [int] NULL,
 CONSTRAINT [PK__nguoiDun__DDDFB482E07062F2] PRIMARY KEY CLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[maThongBao] [int] IDENTITY(1,1) NOT NULL,
	[noiDung] [nvarchar](max) NULL,
	[ngayThongBao] [datetime] NULL,
	[sdt] [nvarchar](12) NULL,
	[trangThai] [bit] NULL,
	[maBaiViet] [int] NULL,
 CONSTRAINT [PK__ThongBao__657CA5397E379822] PRIMARY KEY CLUSTERED 
(
	[maThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[maVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[tenVaiTro] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[maVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiViet] ON 

INSERT [dbo].[BaiViet] ([maBaiViet], [sdt], [ngayDang], [moTa], [hinhAnh], [luotBinhLuan], [luotThich], [maCheDo], [trangThai]) VALUES (95, N'0111111119', CAST(N'2023-06-15T20:39:09.840' AS DateTime), N'Hòa An nơi tình yêu bắt đầu!!!', N'75204586_741726599635245_8486597111922556928_n.jpg', 0, 0, 1, 1)
INSERT [dbo].[BaiViet] ([maBaiViet], [sdt], [ngayDang], [moTa], [hinhAnh], [luotBinhLuan], [luotThich], [maCheDo], [trangThai]) VALUES (96, N'0111111119', CAST(N'2023-06-15T20:41:23.447' AS DateTime), N'Tri Tôn-An Giang, chuyến đi của thanh xuân...', N'282001077_1380129535794945_8393359840086289338_n.jpg', 2, 1, 1, 1)
INSERT [dbo].[BaiViet] ([maBaiViet], [sdt], [ngayDang], [moTa], [hinhAnh], [luotBinhLuan], [luotThich], [maCheDo], [trangThai]) VALUES (97, N'0767161102', CAST(N'2023-06-15T21:59:45.933' AS DateTime), N'Nodel - noem', N'z4435586694967_51fe41ead30727c132489e01a38f4312.jpg', 0, 1, 1, 1)
INSERT [dbo].[BaiViet] ([maBaiViet], [sdt], [ngayDang], [moTa], [hinhAnh], [luotBinhLuan], [luotThich], [maCheDo], [trangThai]) VALUES (1107, N'0111111117', CAST(N'2023-06-16T12:41:34.570' AS DateTime), N'Có mai có cúc có đào
Có thêm em nữa ngọt ngào cả năm', N'327123107_1313052312599214_2453950246328048867_n.jpg-20230616.jpg', 0, 1, 1, 1)
INSERT [dbo].[BaiViet] ([maBaiViet], [sdt], [ngayDang], [moTa], [hinhAnh], [luotBinhLuan], [luotThich], [maCheDo], [trangThai]) VALUES (1108, N'0111111118', CAST(N'2023-06-16T12:54:45.920' AS DateTime), N'Lý Hòa- Minh Tuyến_ Công viên sông Hậu
', N'z4435403856514_bc0c0035ea341b310518662c1c0bf87d.jpg-20230616.jpg', 0, 2, 1, 1)
INSERT [dbo].[BaiViet] ([maBaiViet], [sdt], [ngayDang], [moTa], [hinhAnh], [luotBinhLuan], [luotThich], [maCheDo], [trangThai]) VALUES (1109, N'0111111118', CAST(N'2023-06-16T12:55:40.040' AS DateTime), N'Tôi thấy hoa vàng trên cỏ xanh
', N'lyHoaAvt.jpg-20230616.jpg', 4, 3, 1, 1)
INSERT [dbo].[BaiViet] ([maBaiViet], [sdt], [ngayDang], [moTa], [hinhAnh], [luotBinhLuan], [luotThich], [maCheDo], [trangThai]) VALUES (1124, N'0111111113', CAST(N'2023-06-16T13:45:47.923' AS DateTime), N'Sách là kho tàng tri thức phong phú, đa dạng và..
', N'z4435416972544_ec34ab61bd070e62345360adc86454bd.jpg-20230616_134547.jpg', 0, 0, 1, 0)
INSERT [dbo].[BaiViet] ([maBaiViet], [sdt], [ngayDang], [moTa], [hinhAnh], [luotBinhLuan], [luotThich], [maCheDo], [trangThai]) VALUES (1125, N'0111111113', CAST(N'2023-06-16T13:50:36.387' AS DateTime), N'Hôm nay em chụp kỉ yếu với lớp, mọi ng có thấy em đẹp trai ko ạ
', N'tranTrungAvt.jpg-20230616_135036.jpg', 3, 0, 1, 0)
INSERT [dbo].[BaiViet] ([maBaiViet], [sdt], [ngayDang], [moTa], [hinhAnh], [luotBinhLuan], [luotThich], [maCheDo], [trangThai]) VALUES (1129, N'0767161102', CAST(N'2023-06-16T22:34:45.637' AS DateTime), N'12A2 Trung học phổ thông Tân Lược, thanh xuân và tuổi trẻ
', N'duyQuyBia.jpg-20230616_223445.jpg', 0, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[BaiViet] OFF
GO
SET IDENTITY_INSERT [dbo].[banBe] ON 

INSERT [dbo].[banBe] ([maBanBe], [sdt], [sdtBb], [ngayKb]) VALUES (30, N'0111111113', N'0111111112', CAST(N'2023-06-16' AS Date))
INSERT [dbo].[banBe] ([maBanBe], [sdt], [sdtBb], [ngayKb]) VALUES (31, N'0767161102', N'0111111119', CAST(N'2023-06-16' AS Date))
INSERT [dbo].[banBe] ([maBanBe], [sdt], [sdtBb], [ngayKb]) VALUES (32, N'0767161102', N'0111111118', CAST(N'2023-06-16' AS Date))
SET IDENTITY_INSERT [dbo].[banBe] OFF
GO
SET IDENTITY_INSERT [dbo].[CheDo] ON 

INSERT [dbo].[CheDo] ([maCheDo], [tenCheDo]) VALUES (1, N'Công khai')
INSERT [dbo].[CheDo] ([maCheDo], [tenCheDo]) VALUES (2, N'Bạn bè')
INSERT [dbo].[CheDo] ([maCheDo], [tenCheDo]) VALUES (3, N'Chỉ mình tôi')
SET IDENTITY_INSERT [dbo].[CheDo] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhSachBinhLuan] ON 

INSERT [dbo].[DanhSachBinhLuan] ([maBinhLuan], [sdt], [chiTiet], [maBaiViet], [ngayBinhLuan]) VALUES (13, N'0111111112', N'Không đẹp trai', 1125, CAST(N'2023-06-16T14:19:20.253' AS DateTime))
INSERT [dbo].[DanhSachBinhLuan] ([maBinhLuan], [sdt], [chiTiet], [maBaiViet], [ngayBinhLuan]) VALUES (14, N'0111111112', N'hong đẹp thiệt ', 1125, CAST(N'2023-06-16T15:41:41.317' AS DateTime))
INSERT [dbo].[DanhSachBinhLuan] ([maBinhLuan], [sdt], [chiTiet], [maBaiViet], [ngayBinhLuan]) VALUES (15, N'0767161102', N'tôi không bình thường', 1126, CAST(N'2023-06-16T17:35:06.737' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhSachBinhLuan] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhSachKetBan] ON 

INSERT [dbo].[DanhSachKetBan] ([maLoiMoi], [sdt], [sdtNguoiLa], [ngayGui]) VALUES (28, N'0767161102', N'0111111123', CAST(N'2023-06-16' AS Date))
INSERT [dbo].[DanhSachKetBan] ([maLoiMoi], [sdt], [sdtNguoiLa], [ngayGui]) VALUES (30, N'0111111113', N'0767161102', CAST(N'2023-06-16' AS Date))
INSERT [dbo].[DanhSachKetBan] ([maLoiMoi], [sdt], [sdtNguoiLa], [ngayGui]) VALUES (43, N'0111111113', N'0111111118', CAST(N'2023-06-16' AS Date))
SET IDENTITY_INSERT [dbo].[DanhSachKetBan] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhSachYeuThich] ON 

INSERT [dbo].[DanhSachYeuThich] ([maYeuThich], [sdt], [maBaiViet], [ngayYeuThich]) VALUES (12, N'0767161102', 1126, CAST(N'2023-06-16' AS Date))
INSERT [dbo].[DanhSachYeuThich] ([maYeuThich], [sdt], [maBaiViet], [ngayYeuThich]) VALUES (13, N'0767161102', 1128, CAST(N'2023-06-16' AS Date))
INSERT [dbo].[DanhSachYeuThich] ([maYeuThich], [sdt], [maBaiViet], [ngayYeuThich]) VALUES (15, N'0767161102', 96, CAST(N'2023-06-16' AS Date))
SET IDENTITY_INSERT [dbo].[DanhSachYeuThich] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiViPham] ON 

INSERT [dbo].[LoaiViPham] ([maLoai], [chiTiet]) VALUES (1, N'Ngôn từ gây thù ghét')
INSERT [dbo].[LoaiViPham] ([maLoai], [chiTiet]) VALUES (2, N'Nội dung bạo lực và phản cảm')
INSERT [dbo].[LoaiViPham] ([maLoai], [chiTiet]) VALUES (3, N'Ảnh khỏa thân người lớn và hoạt động tình dục')
SET IDENTITY_INSERT [dbo].[LoaiViPham] OFF
GO
INSERT [dbo].[nguoiDung] ([sdt], [hoTen], [email], [matKhau], [diaChi], [moiQuanHe], [gioiThieu], [gioiTinh], [anhDaiDien], [anhBia], [ngaySinh], [ngayTao], [maVaiTro], [luotViPham], [trangThai], [thoiGianTruyCap], [soLuongBanBe]) VALUES (N'0111111112', N'Lê Tuấn Vỹ', N'letuanvy123@gmail.com', N'123456', N'Sa Đéc', N'Đang hẹn hò', N'Ngọc Vy mãi iuu', 1, N'leVyAvt.jpg', N'leVyBia.jpg', CAST(N'2023-06-13' AS Date), CAST(N'2023-06-13' AS Date), 1, 0, 1, CAST(N'2023-06-16T22:58:49.827' AS DateTime), NULL)
INSERT [dbo].[nguoiDung] ([sdt], [hoTen], [email], [matKhau], [diaChi], [moiQuanHe], [gioiThieu], [gioiTinh], [anhDaiDien], [anhBia], [ngaySinh], [ngayTao], [maVaiTro], [luotViPham], [trangThai], [thoiGianTruyCap], [soLuongBanBe]) VALUES (N'0111111113', N'Minh Trung', N'trantrung@gmail.com', N'123456', N'16 Lấp Vò', N'Độc thân', N'Tắt chế độ coder, bật chế độ gamer', 1, N'tranTrung.jpg', N'tranTrungAvt.jpg', CAST(N'2003-01-18' AS Date), CAST(N'2022-09-11' AS Date), 1, 0, 1, CAST(N'2023-06-16T22:27:09.890' AS DateTime), NULL)
INSERT [dbo].[nguoiDung] ([sdt], [hoTen], [email], [matKhau], [diaChi], [moiQuanHe], [gioiThieu], [gioiTinh], [anhDaiDien], [anhBia], [ngaySinh], [ngayTao], [maVaiTro], [luotViPham], [trangThai], [thoiGianTruyCap], [soLuongBanBe]) VALUES (N'0111111114', N'Minh Hiếu', N'minhhieu@gmail.com', N'123456', N'Ô Môn', N'Độc thân', N'Chào mừng quý dj đến với bình nguyên vô vọng', 1, N'minhHieuAvt.jpg', N'minhHieuBia.jpg', CAST(N'2009-01-20' AS Date), CAST(N'2021-05-01' AS Date), 1, 0, 1, CAST(N'2023-06-16T23:02:17.953' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([maThongBao], [noiDung], [ngayThongBao], [sdt], [trangThai], [maBaiViet]) VALUES (21, N'Huỳnh Duy Quý đã đăng bài viết mới.', CAST(N'2023-06-16T22:34:45.637' AS DateTime), N'0111111119', 0, 1129)
INSERT [dbo].[ThongBao] ([maThongBao], [noiDung], [ngayThongBao], [sdt], [trangThai], [maBaiViet]) VALUES (22, N'Huỳnh Duy Quý đã đăng bài viết mới.', CAST(N'2023-06-16T22:34:45.637' AS DateTime), N'0111111118', 1, 1129)
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([maVaiTro], [tenVaiTro]) VALUES (1, N'Người dùng')
INSERT [dbo].[VaiTro] ([maVaiTro], [tenVaiTro]) VALUES (2, N'Nhân viên')
INSERT [dbo].[VaiTro] ([maVaiTro], [tenVaiTro]) VALUES (3, N'Quản lí')
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [fk_cheDo_baiViet] FOREIGN KEY([maCheDo])
REFERENCES [dbo].[CheDo] ([maCheDo])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [fk_cheDo_baiViet]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [fk_nguoiDung_baiViet] FOREIGN KEY([sdt])
REFERENCES [dbo].[nguoiDung] ([sdt])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [fk_nguoiDung_baiViet]
GO
ALTER TABLE [dbo].[BaiVietViPham]  WITH CHECK ADD  CONSTRAINT [fk_baiViet_Bvvp] FOREIGN KEY([maBaiViet])
REFERENCES [dbo].[BaiViet] ([maBaiViet])
GO
ALTER TABLE [dbo].[BaiVietViPham] CHECK CONSTRAINT [fk_baiViet_Bvvp]
GO
ALTER TABLE [dbo].[BaiVietViPham]  WITH CHECK ADD  CONSTRAINT [fk_baiViet_loaiViPham] FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiViPham] ([maLoai])
GO
ALTER TABLE [dbo].[BaiVietViPham] CHECK CONSTRAINT [fk_baiViet_loaiViPham]
GO
ALTER TABLE [dbo].[BaiVietViPham]  WITH CHECK ADD  CONSTRAINT [fk_nguoiDung_Bvvp] FOREIGN KEY([sdt])
REFERENCES [dbo].[nguoiDung] ([sdt])
GO
ALTER TABLE [dbo].[BaiVietViPham] CHECK CONSTRAINT [fk_nguoiDung_Bvvp]
GO
ALTER TABLE [dbo].[banBe]  WITH CHECK ADD  CONSTRAINT [fk_nguoiDung_banBe] FOREIGN KEY([sdt])
REFERENCES [dbo].[nguoiDung] ([sdt])
GO
ALTER TABLE [dbo].[banBe] CHECK CONSTRAINT [fk_nguoiDung_banBe]
GO
ALTER TABLE [dbo].[banBe]  WITH CHECK ADD  CONSTRAINT [fk_nguoiDung_banBe2] FOREIGN KEY([sdtBb])
REFERENCES [dbo].[nguoiDung] ([sdt])
GO
ALTER TABLE [dbo].[banBe] CHECK CONSTRAINT [fk_nguoiDung_banBe2]
GO
ALTER TABLE [dbo].[DanhSachBinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_baiViet_Dsbl] FOREIGN KEY([maBaiViet])
REFERENCES [dbo].[BaiViet] ([maBaiViet])
GO
ALTER TABLE [dbo].[DanhSachBinhLuan] CHECK CONSTRAINT [fk_baiViet_Dsbl]
GO
ALTER TABLE [dbo].[DanhSachBinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_nguoiDung_Dsbl] FOREIGN KEY([sdt])
REFERENCES [dbo].[nguoiDung] ([sdt])
GO
ALTER TABLE [dbo].[DanhSachBinhLuan] CHECK CONSTRAINT [fk_nguoiDung_Dsbl]
GO
ALTER TABLE [dbo].[DanhSachKetBan]  WITH CHECK ADD  CONSTRAINT [fk_nguoiDung_DsKb] FOREIGN KEY([sdt])
REFERENCES [dbo].[nguoiDung] ([sdt])
GO
ALTER TABLE [dbo].[DanhSachKetBan] CHECK CONSTRAINT [fk_nguoiDung_DsKb]
GO
ALTER TABLE [dbo].[DanhSachKetBan]  WITH CHECK ADD  CONSTRAINT [fk_nguoiDung_DsKb2] FOREIGN KEY([sdtNguoiLa])
REFERENCES [dbo].[nguoiDung] ([sdt])
GO
ALTER TABLE [dbo].[DanhSachKetBan] CHECK CONSTRAINT [fk_nguoiDung_DsKb2]
GO
ALTER TABLE [dbo].[DanhSachYeuThich]  WITH CHECK ADD  CONSTRAINT [fk_danhSachYeuThich_baiViet] FOREIGN KEY([maBaiViet])
REFERENCES [dbo].[BaiViet] ([maBaiViet])
GO
ALTER TABLE [dbo].[DanhSachYeuThich] CHECK CONSTRAINT [fk_danhSachYeuThich_baiViet]
GO
ALTER TABLE [dbo].[DanhSachYeuThich]  WITH CHECK ADD  CONSTRAINT [fk_nguoiDung_Dsyt] FOREIGN KEY([sdt])
REFERENCES [dbo].[nguoiDung] ([sdt])
GO
ALTER TABLE [dbo].[DanhSachYeuThich] CHECK CONSTRAINT [fk_nguoiDung_Dsyt]
GO
ALTER TABLE [dbo].[nguoiDung]  WITH CHECK ADD  CONSTRAINT [fk_vaiTronguoiDung_] FOREIGN KEY([maVaiTro])
REFERENCES [dbo].[VaiTro] ([maVaiTro])
GO
ALTER TABLE [dbo].[nguoiDung] CHECK CONSTRAINT [fk_vaiTronguoiDung_]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [fk_thongBao_baiViet] FOREIGN KEY([maBaiViet])
REFERENCES [dbo].[BaiViet] ([maBaiViet])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [fk_thongBao_baiViet]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [fk_thongBao_nguoiDung] FOREIGN KEY([sdt])
REFERENCES [dbo].[nguoiDung] ([sdt])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [fk_thongBao_nguoiDung]
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeBaiVietViPhamTheoThang]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeBaiVietViPhamTheoThang] (
    @Nam INT
)
AS
BEGIN
    -- Tạo bảng tạm chứa 12 tháng
    WITH Thang(Thang) AS (
        SELECT 1
        UNION ALL
        SELECT Thang + 1 FROM Thang WHERE Thang < 12
    ), 
    -- Lấy thông tin số lượng bài viết vi phạm theo từng tháng trong năm
    ThongKe(Thang, SoBaiVietViPham) AS (
        SELECT MONTH(ngayToCao), COUNT(DISTINCT maBaiViet)
        FROM BaiVietViPham
        WHERE YEAR(ngayToCao) = @Nam  and trangThai = 0
        GROUP BY MONTH(ngayToCao)
    )
    -- Kết hợp thông tin với bảng tạm chứa 12 tháng
    SELECT Thang.Thang, ISNULL(SoBaiVietViPham, 0) AS SoBaiVietViPham
    FROM Thang
    LEFT JOIN ThongKe ON Thang.Thang = ThongKe.Thang

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeSoLuongDangKyTheoThang]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeSoLuongDangKyTheoThang] (
    @Nam INT
)
AS
BEGIN

    -- Tạo bảng tạm chứa 12 tháng
    WITH Thang(Thang) AS (
        SELECT 1
        UNION ALL
        SELECT Thang + 1 FROM Thang WHERE Thang < 12
    ), 
    -- Lấy thông tin số lượng bài viết vi phạm theo từng tháng trong năm
    ThongKe(Thang, SoLuongDangKy) AS (
        SELECT MONTH(ngayTao), COUNT(DISTINCT sdt)
        FROM nguoiDung
        WHERE YEAR(ngayTao) = @Nam
        GROUP BY MONTH(ngayTao)
    )
    -- Kết hợp thông tin với bảng tạm chứa 12 tháng
    SELECT Thang.Thang, ISNULL(SoLuongDangKy, 0) AS SoLuongDangKy
    FROM Thang
    LEFT JOIN ThongKe ON Thang.Thang = ThongKe.Thang

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeSoLuotBaoCaoTheoThang]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeSoLuotBaoCaoTheoThang] (
    @Nam INT
)
AS
BEGIN

    -- Tạo bảng tạm chứa 12 tháng
    WITH Thang(Thang) AS (
        SELECT 1
        UNION ALL
        SELECT Thang + 1 FROM Thang WHERE Thang < 12
    ), 
    -- Lấy thông tin số lượng bài viết vi phạm theo từng tháng trong năm
    ThongKe(Thang, SoLuotBaoCao) AS (
        SELECT MONTH(ngayToCao), COUNT(DISTINCT maToCao)
        FROM BaiVietViPham
        WHERE YEAR(ngayToCao) = @Nam and trangThai = 1
        GROUP BY MONTH(ngayToCao)
    )
    -- Kết hợp thông tin với bảng tạm chứa 12 tháng
    SELECT Thang.Thang, ISNULL(SoLuotBaoCao, 0) AS SoLuotBaoCao
    FROM Thang
    LEFT JOIN ThongKe ON Thang.Thang = ThongKe.Thang

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeSoLuotThichCaoNhat]    Script Date: 6/16/2023 11:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThongKeSoLuotThichCaoNhat](@month date)
as begin
select top 10 BaiViet.hinhAnh HinhAnh,
       BaiViet.maBaiViet MaBaiViet,
	   nguoiDung.hoTen NguoiDang,
	   BaiViet.moTa MoTa,
	   COUNT(DanhSachYeuThich.maBaiViet) LuotThich
from DanhSachYeuThich, BaiViet, nguoiDung
where DanhSachYeuThich.maBaiViet=BaiViet.maBaiViet and BaiViet.sdt = nguoiDung.sdt
and DanhSachYeuThich.ngayYeuThich = @month --> Điều kiện
group by BaiViet.hinhAnh, BaiViet.maBaiViet, nguoiDung.hoTen, BaiViet.moTa
order by LuotThich DESC
end
GO
USE [master]
GO
